/* fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css?family=Limelight&display=swap');
/* body */
body{
  background-color: red;
}
/* nav */
.navbar__bg{
  background: rgb(9,32,63);
  background: linear-gradient(90deg, rgba(9,32,63,1) 0%, rgba(83,120,149,1) 100%);
}

.navbar__title{
  font-family: "Limelight", cursive;
}

.navbar__title img{
  margin-right: 5px;
  -webkit-animation: rotate-center 1s linear 2 both;
          animation: rotate-center 1s linear 2 both;
}
/* Principal */
.principal{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.principal__container{
  background-color: smokewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.principal__container-img{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-image: url("https://i.imgur.com/ShdFdzE.jpg");
  background-position: center;
  background-size: contain;
  margin: 30px;
}
.principal__container-presentacion{
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.mi_nombre{
  font-weight: 600;
}
/* skills */
.skills{
  padding: 30px 0;
  display: flex;
}
.skills__container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.skills__container-titulo{
  font-family: "Montserrat Subrayada", sans-serif;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 5px;
}
.skills__container-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: smokewhite;
}
.skill{
  width: 330px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 15px;
  margin: 10px;
  background: rgb(9,32,63);
  background: linear-gradient(0deg, rgba(9,32,63,1) 0%, rgba(83,120,149,1) 100%);
  color: white;
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.9);
  box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.9);
}
.skill__img{
  width: 100%;
  height: 100px;
  padding-top:15px;
}
.skill__img img{
  height: 64px;
  width: 64px;
}
.skill__card{
  height: inherit;
}
.skill__card h4{
  /* font-weight: bold; */
}
/* redes sociales */
.social{
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__container-redes{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 15px 0 40px;
}
.social__container-redes a{
  margin: 0 10px;
  -webkit-animation: roll-in-blurred-bottom 1.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
          animation: roll-in-blurred-bottom 1.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
/**
 * ----------------------------------------
 * animations
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes roll-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(720deg);
            transform: translateY(800px) rotate(720deg);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 0;
  }
  30%{
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0.8;
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(720deg);
            transform: translateY(800px) rotate(720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  30%{
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0.8;
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
