/* fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css?family=Limelight&display=swap');
/* body */
body{
  background-color: red;
}
/* nav */
.navbar__bg{
  background: rgb(9,32,63);
  background: linear-gradient(90deg, rgba(9,32,63,1) 0%, rgba(83,120,149,1) 100%);
}

.navbar__title{
  font-family: "Limelight", cursive;
}

.navbar__title img{
  margin-right: 5px;
  -webkit-animation: rotate-center 1s linear 2 both;
          animation: rotate-center 1s linear 2 both;
}
/* Principal */
.principal{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.principal__container{
  background-color: smokewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.principal__container-img{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-image: url("https://i.imgur.com/ShdFdzE.jpg");
  background-position: center;
  background-size: contain;
  margin: 30px;
}
.principal__container-presentacion{
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.mi_nombre{
  font-weight: 600;
}

/**
 * ----------------------------------------
 * animations
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
